<!--
    TODO
Créer un input que l'on bindera avec taskToAdd
Créer un bouton qui ajoutera une tâche

Si la liste n'est pas vide : 
  Boucler sur la liste de taches. Ajouter l'index dans la boucle.
  Pour ce faire : *ngFor="let task of tasks; let i = index"
  Avec [ngClass], faire en sorte d'alterner entre deux classes couleur pour nos éléments. Par exemple, les éléments pairs auront une couleur rouge et les éléments impairs, la couleur bleue
    Afficher le nom de la tâche.
    Afficher un bouton edit qui affichera un input pour modifier la tâche
    Afficher un bouton remove pour supprimer la tâche
Sinon, si la liste est vide, afficher "Tasks not set" (avec tasks.length == 0)



-->